@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

body {
    background-color: #b1aad8;
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #494a4b;
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    font-size: 130%;
}

@media only screen and (min-width: 500px) {
    body {
        min-height: 100vh;
    }
}

.container {
    width: 100%;
    max-width: 500px;
    background: #f1f5f8;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 4px 3px 7px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.heading__title {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: rgba(0, 255, 196, 0.7);
    font-size: 1.5rem;
}

.heading__img {
    width: 24%;
}

.form__label {
    display: block;
    margin-bottom: 0.5rem;
}

.form__input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border: solid 3px transparent;
    border-bottom: dashed 3px #ea95e0;
    font-family: 'Gochi Hand', cursive;
    font-size: 1rem;
    color: rgba(63, 62, 65, 0.7);
    width: 50%;
    margin-bottom: 20px;
}

.form__input:focus {
    outline: none;
    border: solid 3px #ea95e0;
}

.button {
    padding: 0;
    border: none;
    transform: rotate(4deg);
    font-family: 'Gochi Hand', cursive;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    background-color: #494a4b;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button span {
    background: #f1f5f8;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #494a4b;
}

.button:hover {
    background-color: #333;
}

.clear-all-button {
    padding: 0.5rem 1rem;
    font-family: 'Gochi Hand', cursive;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 0 #494a4b;
    cursor: pointer;
    transition: all 0.3s ease;
}


.clear-all:hover {
    background-color: black;
    transform: scale(1.05);
}

.toDoList {
    text-align: left;
    list-style: none;
    padding: 0;
}

.toDoList li {
    position: relative;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #ccc;
}

.toDoList li span {
    flex-grow: 1;
    text-align: left;
}

.task-controls {
    display: flex;
    gap: 0.5rem;
}

.toDoList li.completed span {
    text-decoration: line-through;
    color: #aaa;
}

.delete-button {
    background-color:white;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}
